body {
  background-color: rgb(255 247 237);
  font-family: 'Noto Sans Mono', monospace;
}

h1, h2 {
  /* font-family: 'Noto Sans Mono', monospace; */
  font-family: 'Rubik Mono One', sans-serif;
}

.filter-wrapper li:hover .indicator {
  background-color: #080401;
}

.indicator {
  width: 15px;
  aspect-ratio: 1/1;
  border: solid 1px #080401;
  border-radius: 50%;
}

.selected-filter {
  background-color: #080401;  
}